language: python

jobs:
  include:
    - services: docker

env:
  global:
    - TWINE_USERNAME=__token__
    - CIBW_BUILD="cp36-* cp37-* cp38-*"
    - CIBW_BEFORE_BUILD="curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | tee /etc/yum.repos.d/yarn.repo; curl --silent --location https://rpm.nodesource.com/setup_10.x | bash -; yum -y install yarn"
    - CIBW_SKIP="*-win32 *-manylinux_i686"

before_install:
  - nvm install 10

install:
  - python -m pip install twine cibuildwheel==1.1.0

script:
  - python -m cibuildwheel --output-dir wheelhouse
  - python setup.py sdist

after_success:
  - if [[ $TRAVIS_TAG ]]; then python -m twine upload wheelhouse/*; python -m twine upload dist/*.tar.gz; fi
