language: node_js
os: linux
node_js: 11
cache:
  yarn: true
  directories:
  - $HOME/.cache/pip
services: docker
install:
- docker pull njzjz/tox-xvfb
- yarn
script:
- docker run -i -t -v $(pwd):/project -v ~/.cache/pip:/root/.cache/pip --env-file <(env | grep 'TRAVIS\|CI') njzjz/tox-xvfb /bin/bash -c "chown -R root /root/.cache && cd /project && tox -e py37 && cp testfiles-*/dump.reaxc.html docs/.vuepress/public/report.html" 
- yarn docs:build
deploy:
  provider: pages
  skip-cleanup: true
  local_dir: docs/.vuepress/dist
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
