.spec {
    height: 100px;
    width: 100px;
}

.content-table {
    font-size: 14;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.reacnum {
    color: blue;
    margin-top: 20px;
}

.reacid {
    line-height: 100px;
    width: 20px;
}

.specnone, .reacnone {
    display: none;
}

#canvassec * {
    touch-action: none;
}

.imgbg {
    background-image: url(./fire.png)!important;
}