/*
 * SPDX-License-Identifier: LGPL-3.0-or-later
 */
.bilitube iframe {
  width: 100%;
  aspect-ratio: 1.2877;
}
.reacnetgenerator-icon img {
  max-width: 100%;
  max-height: 280px;
  display: block;
  margin: 3rem auto 1.5rem;
  background: none !important;
}
