{% set citation %}
J. Zeng, L. Cao, J.Z.H. Zhang, C.-H. Chin, T. Zhu: ReacNetGen: an
Automatic Reaction Network Generator for Reactive Molecular Dynamic Simulations, 2018, doi:<a
href="https://dx.doi.org/10.26434/chemrxiv.7421534">10.26434/chemrxiv.7421534</a>
{% endset %}
{% set sections = ['Network','Species','Reactions'] %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Analysis Report</title>
</head>

<body id="page-top">
    <svg class="d-none" id="svgdefs">
        <defs>
            <path id="narrow" style="text-align:start;line-height:100%;" d="M24.35 7.613c-3.035 1.11-5.407 2.908-7.113 5.395h-1.299c.585-1.743 1.567-3.39 2.945-4.938H.649V6.278h18.234c-1.378-1.548-2.36-3.2-2.945-4.956h1.299c1.706 2.487 4.078 4.285 7.114 5.395v.896z"
                font-size="39.506" font-weight="400"/>
            <circle id="circle" cx="50" cy="50" r="45" stroke="#00f" stroke-width="2" fill="#fff" />
            <path id="plus" d="m241.99 407.91v-97.461h-97.266v-16.016h97.266v-97.07h15.625v97.07h97.656v16.016h-97.656v97.461h-15.625z"/>
        </defs>
    </svg>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">ReacNetGenerator</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if network_time|length > 1 %}
                    <li class="nav-item">
                        <select id="timeselect">
                            {% for _ in network_time %}
                            <option value="{{ loop.index }}">
                                {% if loop.index > 1 %}
                                    Time {{ loop.index-1 }}
                                {% else %}
                                    All
                                {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </li>
                    {% endif %}
                    {% for sec in sections %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#{{ sec|lower }}">{{ sec }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white d-flex bg-dark imgbg" id="info">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">Analysis Report</h1>
                </div>
                <div class="col-lg-10 mx-auto">
                    <p><strong>Please cite:</strong> {{citation}}</p>
                </div>
            </div>
            <div class="row">
                {% for sec in sections %}
                <div class="col-lg-3 mx-auto text-center">
                    <div class="service-box mt-5 mx-auto">
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#{{ sec|lower }}">{{ sec }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </header>

    {% for network_svg in network_time %}
    <section id="network" class='page-section bg-white mx-auto text-center time time-{{ loop.index }}'>
        <div class="container my-auto">
            <div class="row">
                <div class="mx-auto w-100 text-center">
                    <h2>Reaction Network</h2>
                    {{ network_svg }}
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    <svg class="d-none" id="svgspecs">
        <defs>
            {% for spec in speciessvg %}
            <svg id="{{ spec.name }}">{{ spec.svg }}</svg>
            <svg id="{{ spec.name }}_border">
                <use xlink:href="#circle"></use>
                <use xlink:href="#{{ spec.name }}"></use>
            </svg>
            {% endfor %}
        </defs>
    </svg>

    <div id="canvassec" class='bg-white mx-auto'>
        <div class="w-100 h-100 grid" id="canvas"></div>
        <a href="javascript:savesvg();" class="savesvg">Save</a>
    </div>

    {% for species in speciestime %}
    <section id="species" class='page-section bg-white mx-auto time time-{{ loop.index }}'>
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center">
                    <h2 class='text-center'>Species</h2>
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            {% for spec in species %}
                            <div class="mx-auto {% if loop.index> speciesshownum %} specnone{% endif %}">
                                <div><a class="popup-modal" href="#canvassec" onclick="addnode('{{ spec }}');" title="{{ spec }}"><svg class='spec'>
                                    <use xlink:href="#{{ spec }}"></use>
                                </svg></a></div>
                                <div>{{ loop.index }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if species|length > speciesshownum %}
                <div class="mx-auto text-center mt-5">
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="javascript:$('.specnone').removeClass('specnone');$('#showmorespec').hide();"
                        id="showmorespec">Show all</a>
                </div>
                {% endif %}
            </div>
    </section>
    {% endfor %}

    {% for reactions in reactionstime %}
    <section id="reactions" class='page-section bg-white mx-auto time time-{{ loop.index }}'>
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center">
                    <h2 class='text-center'>Reactions</h2>
                    <h4 class='text-center'>(sorted by frequency)</h4>
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            {% for reac in reactions %}
                            <div class="row mx-auto{% if loop.index> reactionsshownum %} reacnone{% endif %}">
                                <div class="reacid">{{ loop.index }}</div>
                                <div><a class="popup-modal" href="#canvassec" onclick="addnode('{{ reac[0] }}');"></a><svg class='spec'>
                                        <use xlink:href="#{{ reac[0] }}"></use>
                                    </svg></a></div>
                                <div>
                                    <div class="reacnum">{{ reac[2] }}</div>
                                    <div><svg width="25" height="14.33">
                                            <use xlink:href="#narrow" /></svg></div>
                                </div>
                                <div><a class="popup-modal" href="#canvassec" onclick="addnode('{{ reac[1] }}');"></a><svg class='spec'>
                                        <use xlink:href="#{{ reac[1] }}"></use>
                                    </svg></a></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if reactions|length > reactionsshownum %}
                    <div class="mx-auto text-center mt-5">
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="javascript:$('.reacnone').removeClass('reacnone');$('#showmorereac').hide();"
                            id="showmorereac">Show all</a>
                    </div>
                    {% endif %}
                </div>
    </section>
    {% endfor %}

    {% if reactionsabcd|length > 0 %}
    <section id="reactionsabcd" class='page-section bg-white mx-auto'>
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center">
                    <h2 class='text-center'>Reactions</h2>
                    <h4 class='text-center'>(A+B->C+D)</h4>
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            {% for reac in reactionsabcd %}
                            <div class="row mx-auto{% if loop.index> reactionsshownum %} reacabcdnone{% endif %}">
                                <div class="reacid">{{ loop.index }}</div>
                                {% for spec in reac[0] %}
                                {% if loop.index > 1 %}
                                <div><svg width="25" height="14.33"><use xlink:href="#plus" /></svg></div>
                                {% endif %}
                                <div><a class="popup-modal" href="#canvassec" onclick="addnode('{{ spec }}');"></a><svg class='spec'>
                                        <use xlink:href="#{{ spec }}"></use>
                                    </svg></a></div>
                                {% endfor %}
                                <div>
                                    <div class="reacnum">{{ reac[2] }}</div>
                                    <div><svg width="25" height="14.33">
                                            <use xlink:href="#narrow" /></svg></div>
                                </div>
                                {% for spec in reac[1] %}
                                {% if loop.index > 1 %}
                                <div><svg width="25" height="14.33"><use xlink:href="#plus" /></svg></div>
                                {% endif %}
                                <div><a class="popup-modal" href="#canvassec" onclick="addnode('{{ spec }}');"></a><svg class='spec'>
                                        <use xlink:href="#{{ spec }}"></use>
                                    </svg></a></div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if reactionsabcd|length > reactionsshownum %}
                    <div class="mx-auto text-center mt-5">
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="javascript:$('.reacabcdnone').removeClass('reacabcdnone');$('#showmorereacabcd').hide();"
                            id="showmorereacabcd">Show all</a>
                    </div>
                    {% endif %}
                </div>
    </section>
    {% endif %}

    <section class="page-section bg-dark text-white" id="foot">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p>Generated by <a href="https://njzjz.github.io/reacnetgenerator">ReacNetGenerator</a></p>
                    <p><strong>Citation:</strong> {{ citation }}</p>
                    <p><strong>Author:</strong>
                        <a href="https://cv.njzjz.win/">Jinzhe Zeng</a>,
                        Liqun Cao,
                        <a href="https://research.shanghai.nyu.edu/centers-and-institutes/chemistry/people/john-zenghui-zhang">John ZH Zhang</a>,
                        Chih-Hao Chin,
                        <a href="http://computchem.cn/people/">Tong Zhu</a></p>
                    <p><strong>Email:</strong> <a href="mailto:tzhu@lps.ecnu.edu.cn">tzhu@lps.ecnu.edu.cn</a>,
                        <a href="mailto:jzzeng@stu.ecnu.edu.cn">jzzeng@stu.ecnu.edu.cn</a></p>
                </div>
            </div>
        </div>
    </section>

    <script>linkreac={{ linkreac }};{{ javascript }}</script>
</body>

</html>
