on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

name: Benchmark
jobs:
  test:
    name: Benchmark with codspeed
    if: ${{ github.repository_owner == 'deepmodeling' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.12'
    - run: pip install uv
    - run: uv pip install --system -e .[test]
    - name: Run benchmarks
      uses: CodSpeedHQ/action@v4
      with:
        token: ${{ secrets.CODSPEED_TOKEN }}
        mode: walltime
        run: pytest tests/ --codspeed
