on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

name: Benchmark
jobs:
  test:
    name: Benchmark with codspeed
    if: ${{ github.repository_owner == 'deepmodeling' }}
    runs-on: codspeed
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        architecture: 'x64'
    - run: pip install uv
    - run: uv pip install --system -e .[test]
    - name: Run benchmarks
      uses: CodSpeedHQ/action@v3
      with:
        token: ${{ secrets.CODSPEED_TOKEN }}
        run: pytest tests/ --codspeed
