on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

name: Test and deploy
jobs:
  test:
    name: Test with tox
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.11'
        architecture: 'x64'
    - run: pip install tox tox-gh tox-uv
    - run: tox
    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
