on: [push, pull_request]
name: Test and deploy
jobs:
  test:
    name: Test with tox
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        node-version: 12
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'
        architecture: 'x64'
    - run: npm install -g yarn
    - name: Get yarn cache
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: yarn cache
      uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: pip cache
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key:
          ${{ runner.os }}-pip-${{ hashFiles('**/setup.py')
          }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - run: pip install tox-conda
    - run: tox
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
#    - run: conda build conda/recipe -c conda-forge --output-folder conda
#      if: github.ref == 'refs/heads/master'
    - run: tox
      env:
        TOXENV: docs
    - run: yarn install
    - run: yarn build
    - run: yarn semantic-release
      if: github.ref == 'refs/heads/master'
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
