on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  merge_group:
name: Test and deploy
jobs:
  test:
    name: Test with tox
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        architecture: 'x64'
    - run: pip install tox tox-gh-actions
    - run: tox
#    - run: conda build conda/recipe -c conda-forge --output-folder conda
#      if: github.ref == 'refs/heads/master'
    - uses: codecov/codecov-action@v3
