on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

name: Type checker
jobs:
  test:
    name: pyright
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v6
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7
    - run: uvx --from ty==0.0.15 --with . ty check --output-format github
