on:
  push:
    branches:
    - master
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

name: Test js
defaults:
  run:
    working-directory: reacnetgenerator/static/webpack
jobs:
  testjs:
    name: Test js
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: 'yarn'
        cache-dependency-path: reacnetgenerator/static/webpack/yarn.lock
    - run: yarn install
    - run: yarn test
    - run: yarn coverage
    - uses: codecov/codecov-action@v5
      with:
        use_oidc: true
permissions:
  id-token: write
